data/
.jupyter/
.pytest_cache/
.virtual_documents/
.vscode/
.ipynb_checkpoints
*/.ipynb_checkpoints
*/.virtual_documents
*/__pycache__/
notebooks/data/
notebooks/
tests/__pycache__/
*.DS_Store
.pytest_cache
.idea/
.vscode/
tests/ipynb_checkpoints/
examples/
src/poirot/__pycache__/
__pycache__/
__pycache__
*.pyc
**/.spyproject/
/.quarto/
.Rproj.user
_archive/