jupyterlab
jupyter
jupyterlab-lsp
jupytext
ipympl
pytest
nbformat
numpy
matplotlib
pandas
tqdm
seaborn
scipy
scikit-learn
mne
bycycle
factor_analyzer
docrepr
plotly
kaleido
tensorpac
statsmodels
pymatreader
pingouin
pyvista
flit
tables